body{
    margin: 0;
    padding: 0;
}

.nav{
    position: relative;
    top: 0;
    left: 0;
    height: fit-content;
    width: 260px;
    background-color: #6d6d6d;
    display: flex;
    flex-direction: column;

    &__list{
        padding: 0;
        list-style: none;
        margin: 0;
    }

    &__link{
        display: flex;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        transition: 0.3s;

        &:hover{
            background-color: #2a2a2a;
        }
    }

    &__img{
        width: 70px;
        height: 70px;
    }
}